---
import Logo from '../components/Logo.astro';
import ExecCard from '../components/Exec-Card.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/assets/logo.png" />
		<title>Murdoch IT Society</title>
		<script src="https://kit.fontawesome.com/e361a64e1e.js" crossorigin="anonymous"></script>
		<link href="src/css/style.css" rel="stylesheet">
	</head>
	<body class="bg-grey">
		<header class="sticky top-0 flex-none mx:auto backdrop-blur-sm bg-grey/95">
			<div class="py-4 px-48 flex justify-between">
				<div class="flex justify-start py-3">
					<Logo/>
				</div>
				<nav class="items-center w-auto flex">
					<ul class="flex font-bold text-white font-sans text-xl">
						<li class="px-4 py-3">Home</li>
						<li class="px-4 py-3">About</li>
						<li class="px-4 py-3">Committee</li>
					</ul>
				</nav>
			</div>

		</header>
		<main>
			<section id="welcome-text">
				<div class="mx-48">
					<h2 class="font-bold text-white font-sans text-4xl">Welcome to the Murdoch IT Society!</h2>
				</div>
			</section>
			<section id="about-us">
				<div class="mx-96 my-24 flex justify-between">
					<div class="flex flex-col justify-center">
						<h2 class="font-bold text-white font-sans text-4xl py-3">About Us</h2>
						<p class="text-white font-sans text-xl py-3">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							Amet, nisi recusandae? Quidem dignissimos nobis, dicta unde, 
							aperiam voluptate autem iste reprehenderit, aliquam ducimus illo 
							ea ipsum qui animi sequi. Numquam.
						</p>
					</div>
					<div>
						<img class="object-cover max-h-screen" src="/assets/logo.png"/>
					</div>				
				</div>
			</section>
			<section id="committee">
				<div class="mx-48 my-24">
					<h2 class="font-bold text-white font-sans text-4xl py-3">Current Committee</h2>
					<p class="text-white font-sans text-xl py-3">Look at this cool placeholder text, and this cool placeholder grid below</p>
					<div class="flex flex-col">
						<p class="font-bold text-white font-sans text-3xl py-8 flex justify-center">Executive Committee</p>
						<div class="mx-24 grid grid-cols-2 gap 4">
							<ExecCard
								imagePath="/assets/orangutan_square.jpg"
								title="PRESIDENT"
								name="monkey 1"
								desc="i love MITS"
							/>
							<ExecCard
								imagePath="/assets/orangutan_square.jpg"
								title="VICE PRESIDENT"
								name="monkey 2"
								desc="i love MITS"
							/>
							<ExecCard
								imagePath="/assets/orangutan_square.jpg"
								title="SECRETARY"
								name="monkey 3"
								desc="i love MITS"
							/>
							<ExecCard
								imagePath="/assets/orangutan_square.jpg"
								title="Treasurer"
								name="monkey 4"
								desc="i love MITS"
							/>
						</div>
						<div class="mx-24">
							<p class="font-bold text-white font-sans text-3xl py-8 flex justify-center">Sub Committee</p>
							<div class="flex flex-col">
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
								<p class="text-white my-4 flex justify-center">FirstName LastName</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="h-80 bg-footer">
			<div class="px-48 py-20 flex flex-col justify-start">
				<Logo/>
				<ul class="py-8">
					<a href="/firstlecture/"><i class="fa-brands fa-discord"></i></a>
					<a class="px-4" href=""><i class="fa-brands fa-linkedin-in"></i></a>
					<a href=""><i class="fa-brands fa-instagram"></i></a>
				</ul>
			</div>
		</footer>
	</body>
</html>
<style>
	.fa-discord{color: white;}
	.fa-linkedin-in{color: white;}
	.fa-instagram{color: white;}
</style>
