---
import Logo from '../components/Logo.astro';
---

<footer class="h-80 bg-footer">
  <div class="px-48 py-20 flex flex-col justify-start">
    <Logo/>
    <ul class="py-8">
      <a href="/firstlecture/"><i class="fa-brands fa-discord"></i></a>
      <a class="px-4" href=""><i class="fa-brands fa-linkedin-in"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
      <a class="px-4" href=""><i class="fa-brands fa-github"></i></a>
    </ul>
  </div>
</footer>
<style>
	.fa-discord{color: white;}
	.fa-linkedin-in{color: white;}
	.fa-instagram{color: white;}
	.fa-github{color: white;}
</style>