---
import json from '../data.json';
---

<footer class="h-80 bg-grey2">
  <div class="px-4 sm:px-12 lg:px-24 xl:px-48 py-12">
    <h1 class="text-white text-xl font-bold">Murdoch IT Society</h1>
    <div class="py-4 flex flex-col gap-2">
      <a class="text-white text-md" href="#home">Home</a>
      <a class="text-white text-md" href="#about">About</a>
      <a class="text-white text-md" href="#committee">Committee</a>
    </div>
    <div class="py-12 flex flex-row gap-4">
      <a href={json.links.linkedin} target="_blank"><img src="linkedin.svg" width="24" height="24"/></a>
      <a href={json.links.github} target="_blank"><img src="github.svg" width="24" height="24"/></a>
      <a href={json.links.discord} target="_blank"><img src="discord.svg" width="24" height="24"/></a>
      <a href={json.links.instagram} target="_blank"><img src="instagram.svg" width="24" height="24"/></a>
    </div>
  </div>
</footer>