---
---

<footer class="h-80 bg-grey2">
  <div class="px-4 sm:px-12 lg:px-24 xl:px-48 py-12">
    <h1 class="text-white text-xl font-bold">Murdoch IT Society</h1>
    <div class="py-4 flex flex-col gap-2">
      <a class="text-white text-md">Home</a>
      <a class="text-white text-md">About</a>
      <a class="text-white text-md">Committee</a>
    </div>
    <div class="py-12 flex flex-row gap-4">
      <a><img src="assets/linkedin.svg" width="24" height="24"/></a>
      <a><img src="assets/github.svg" width="24" height="24"/></a>
      <a><img src="assets/discord.svg" width="24" height="24"/></a>
      <a><img src="assets/instagram.svg" width="24" height="24"/></a>
    </div>
  </div>
</footer>
<style>
	.fa-discord{color: white;}
	.fa-linkedin-in{color: white;}
	.fa-instagram{color: white;}
	.fa-github{color: white;}
</style>