<p class="mits-logo">Murdoch IT Society</p>
<style>
  .mits-logo {
    width: fit-content;
    margin: 0;
    font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
    font-weight: bold;
    color: inherit;
  }
  .mits-logo:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>